
.holder {
  display: flex;            /* Enable flexbox layout */
  justify-content: center;  /* Align items in the center horizontally */
  flex-wrap: wrap;          /* Allow items to wrap onto the next line */
}

.item{
	width:100px;
	height:100px;
	background-color:grey;
	border:1px solid black;
	text-align:center;
}