
.holder{
	display:flex;
	flex-wrap:row;
	flex-direction: row;
	justify-content:center;
	flex-wrap:nowrap;
	
}
.item{
	width:100px;
	height:100px;
	background-color:grey;
	border:1px solid black;
	text-align:center;
}